<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VỉtualLab</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VỉtualLab.styles.css" asp-append-version="true" />
     <!-- Enable IE9 Standards mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" media="all" href="~/css/font.css">
    <link rel="stylesheet" type="text/css" media="all" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="~/css/grid.css">
    <link href="~/css/mainstyle.css" rel="stylesheet" type="text/css">
    <link href="~/js/nanoscroller/nanoscroller.css" rel="stylesheet" type="text/css">
    <script src="~/js/nanoscroller/overthrow.min.js"></script>
    <script src="~/js/jquery/1.7/jquery-1.7.1.js"></script>
    <script src="~/js/nanoscroller/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="~/js/nanoscroller/touchready.js"></script>
    <script type="text/javascript" src="~/js/nanoscroller/main.js"></script>
    <!--[if IE]><script src="js/excanvas.js"></script><![endif]-->
    <link href="~/css/simstyle.css" rel="stylesheet" type="text/css">
    <link href="~/js/trip/trip.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" language="javascript">var simPath="https://www.olabs.edu.in/olab/CHE/INC/Determination_of_concentration_of_KMnO4_solution/";</script>
    <script src="~/js/jquery/ui/1.8.21/jquery-ui.min.js" language="javascript"></script>
    <script type="text/javascript" src="~/js/touchconvert.js"></script>
    <script language="javascript" type="text/javascript" src="~/js/jquery.i18n.js"></script>
    <script type="text/javascript" src="~/js/jQueryRotate.2.2.js"></script>
    <script language="javascript" type="text/javascript" src="~/js/jquery.qtip-1.0.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/js/help.js"></script>
    <script language="javascript" type="text/javascript" src="~/js/trip/trip.min.js"></script>
    <script type="text/javascript" src="~/js/simcontrols.js"></script>
    <script language="javascript">
    var language_script= 'en-IN';
    var language=language_script.toString();
      language=language.slice(0, 2);
      var gt=$;
      gt.gettext.setLocale(language);
    </script>
    <script type="text/javascript" src="./language.json"></script><!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->
    <script src="~/js/modernizr-custom.js"></script>
    <script> 
    if( !Modernizr.inputtypes.range ){  
        document.write("<script type=\"text/javascript\" src=\"js/js-webshim/1.9.7/minified/polyfiller.js\"></"+"script>");
            $(document).ready(function(){
          $.webshims.setOptions("waitReady", false);
            $.webshims.polyfill('forms-ext');
        });  
        };  


    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img id="Icon" src="~/images/Logo.jpg" alt="MDB Logo" draggable="false" height="40" />
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-item mx-3">
                            <div class="dropdown">
                                <button class="btn btn-outline-dark text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Experiment
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-controller="Lab" asp-action="KMNO4">KMNO4</a></li>
                                    <li><a class="dropdown-item" asp-controller="Lab" asp-action="A">Cong Thuc So 2</a></li>
                                    <li><a class="dropdown-item" asp-controller="Lab" asp-action="A">Cong Thuc So 3</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ms-3">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/><br/><br/>
    </header>
    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VỉtualLab - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
