<!-- FILEPATH: /d:/Virtual-Lab/lab.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Lab</title>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-..." crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <style>
        .image-container {
            position: absolute;
            border: 2px solid #000; /* Border style */
            padding: 10px; /* Adjust padding as needed */
        }

        .image-name {
            text-align: center;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <button id="SpawnFlaskButton" class="btn btn-light">Add Flask</button>
                        </li>
                        <li>
                            <button id="SpawnBuretteStandButton" class="btn btn-light">Add Burette Stand</button>
                        </li>
                        <li>
                            <button id="SpawnTesttubeButton" class="btn btn-light">Add Testtube</button>
                        </li>
                        <li>
                            <button id="SpawnBurnerButton" class="btn btn-light">Add Burner</button>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                    </div>
                </div>
            </div>
            <div class="col py-3" id="lab-container">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-..." crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const container = document.getElementById('lab-container');
            let isPouring = false;

            function spawnImage(imagePath, itemName) {
                const imageContainer = document.createElement('div');
                imageContainer.classList.add('image-container');
                const newImage = document.createElement('img');
                newImage.src = imagePath;
                newImage.alt = "Drag me";
                newImage.classList.add('draggable');
                const imageName = document.createElement('div');
                imageName.innerText = itemName;
                imageName.classList.add('image-name');
                imageContainer.appendChild(newImage);
                imageContainer.appendChild(imageName);
                imageContainer.style.left = '100px';
                imageContainer.style.top = '100px';

                container.appendChild(imageContainer);

                newImage.addEventListener('mousedown', function (e) {
                    const offsetX = e.clientX - imageContainer.getBoundingClientRect().left;
                    const offsetY = e.clientY - imageContainer.getBoundingClientRect().top;

                    document.addEventListener('mousemove', moveImage);
                    document.addEventListener('mouseup', function () {
                        document.removeEventListener('mousemove', moveImage);
                        isPouring = false;
                    });

                    function moveImage(e) {
                        const x = e.clientX - offsetX;
                        const y = e.clientY - offsetY;

                        imageContainer.style.left = x + 'px';
                        imageContainer.style.top = y + 'px';

                        if (isOverlapping(newImage, document.getElementById('flask-image')) && !isPouring) {
                            isPouring = true;
                            // Change images for the test tube and flask
                            newImage.src = "/images/empty_testtube.png";
                            document.getElementById('flask-image').src = "/images/flask_with_solution.png";
                        }
                    }
                });
            }

            const spawnFlaskButton = document.getElementById('SpawnFlaskButton');
            spawnFlaskButton.addEventListener('click', function () {
                spawnImage("/images/flask.png", "Flask");
            });

            const spawnBuretteStandButton = document.getElementById('SpawnBuretteStandButton');
            spawnBuretteStandButton.addEventListener('click', function () {
                spawnImage("/images/burette_stand.png", "Burette Stand");
            });

            const spawnTesttubeButton = document.getElementById('SpawnTesttubeButton');
            spawnTesttubeButton.addEventListener('click', function () {
                spawnImage("/images/testtube.png", "Testtube");
            });

            const spawnBurnerButton = document.getElementById('SpawnBurnerButton');
            spawnBurnerButton.addEventListener('click', function () {
                spawnImage("/images/burner.png", "Burner");
            });

            function isOverlapping(element1, element2) {
                const rect1 = element1.getBoundingClientRect();
                const rect2 = element2.getBoundingClientRect();

                return !(rect1.right < rect2.left ||
                    rect1.left > rect2.right ||
                    rect1.bottom < rect2.top ||
                    rect1.top > rect2.bottom);
            }
        });
    </script>
</body>
</html>
